name: Build

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:

  test:
    name: Test
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        go: [1.12, 1.13, 1.14, 1.15]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Set up Go 1.x
        uses: actions/setup-go@v2
        with:
          go-version: ^${{ matrix.go }}
      - name: Check out code into the Go module directory
        uses: actions/checkout@v2
      - run: go test -race ./...

  mysql:
    name: MySQL
    strategy:
      matrix:
        mysql: [5, 8]
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go 1.x
        uses: actions/setup-go@v2
      - name: Setup MySQL
        uses: mirromutth/mysql-action@v1.1
        with:
          mysql version: ${{ matrix.mysql }}
          mysql database: rel_test
          mysql user: rel
          mysql password: rel
      - name: Check out code into the Go module directory
        uses: actions/checkout@v2
      - env:
          MYSQL_DATABASE: rel:rel@(127.0.0.1:3306)/rel_test
        run: go test -race -tags=mysql ./...

  postgres:
    name: Postgres
    strategy:
      matrix:
        postgres: [9, 10, 11, 12, 13]
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go 1.x
        uses: actions/setup-go@v2
      - name: Setup PostgreSQL
        uses: harmon758/postgresql-action@v1
        with:
          postgresql version: ${{ matrix.postgres }}
          postgresql db: rel_test
          postgresql user: rel
          postgresql password: rel
      - name: Check out code into the Go module directory
        uses: actions/checkout@v2
      - env:
          POSTGRESQL_DATABASE: postgres://rel:rel@localhost/rel_test
        run: go test -race -tags=postgres ./...

  cli:
    name: CLI
    env:
      SQLITE3_DATABASE: cli-test.db
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        go: [1.12, 1.13, 1.14, 1.15]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Set up Go 1.x
        uses: actions/setup-go@v2
        with:
          go-version: ^${{ matrix.go }}
      - name: Check out code into the Go module directory
        uses: actions/checkout@v2
        with:
          repository: Fs02/go-todo-backend
      - run: go get github.com/Fs02/rel/cmd/rel@${{ github.event.pull_request.head.sha }}
        if: github.event_name == 'pull_request'
      - run: go get github.com/Fs02/rel/cmd/rel@$GITHUB_REF
        if: github.event_name == 'push'
      - run: rel -v
      - run: rel migrate
      - run: rel rollback

  coverage:
    name: Coverage
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go 1.x
        uses: actions/setup-go@v2
      - name: Setup MySQL
        uses: mirromutth/mysql-action@v1.1
        with:
          mysql database: rel_test
          mysql user: rel
          mysql password: rel
      - name: Setup PostgreSQL
        uses: harmon758/postgresql-action@v1
        with:
          postgresql db: rel_test
          postgresql user: rel
          postgresql password: rel
      - name: Check out code into the Go module directory
        uses: actions/checkout@v2
      - uses: amancevice/setup-code-climate@v0
        with:
          cc_test_reporter_id: 045e6c8f64f873901bacc868224b418d9fc72dd73c40feb1af50faf3e96de15d
      - name: Set ENV for codeclimate (pull_request)
        run: |
          git fetch --no-tags --prune --depth=1 origin +refs/heads/$GITHUB_HEAD_REF:refs/remotes/origin/$GITHUB_HEAD_REF
          echo "::set-env name=GIT_BRANCH::$GITHUB_HEAD_REF"
          echo "::set-env name=GIT_COMMIT_SHA::$(git rev-parse origin/$GITHUB_HEAD_REF)"
        if: github.event_name == 'pull_request'
      - name: Set ENV for codeclimate (push)
        run: |
          echo "::set-env name=GIT_BRANCH::$GITHUB_REF"
          echo "::set-env name=GIT_COMMIT_SHA::$GITHUB_SHA"
        if: github.event_name == 'push'
      - run: cc-test-reporter before-build
      - env:
          MYSQL_DATABASE: rel:rel@(127.0.0.1:3306)/rel_test
          POSTGRESQL_DATABASE: postgres://rel:rel@localhost/rel_test
        run: go test -race -tags=all -coverprofile=c.out ./...
      - run: cc-test-reporter after-build -p github.com/Fs02/rel
